name: citest
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version-file: './go.mod'
    - uses: actions/checkout@v6
    - run: make clean
    - run: make citest
